{
    "trailingComma": "none",
    "singleQuote": true,
    "tabWidth": 4,
    "plugins": [
        "prettier-plugin-apex"
    ],
    "overrides": [
        {
            "files": "**/*.html",
            "options": { "parser": "lwc" }
        }
    ]
}
